<!DOCTYPE html>
<html>

<head>

<title>

About

</title>

<link rel="stylesheet"

href="{{ url_for('static',
filename='style.css') }}">

</head>

<body>

<nav>

<div class="logo">

🏠 House Price Predictor

</div>

<ul>

<li><a href="/">Home</a></li>

<li><a href="/analytics">Analytics</a></li>

<li><a href="/about">About</a></li>

</ul>

</nav>

<div class="hero">

<h1>

About This Project

</h1>

<div class="card">

<h2>

Smart House Price Prediction

</h2>

<br>

<p>

Machine Learning Algorithm:

Linear Regression

</p>

<br>

<p>

Dataset:

Housing Price Dataset

</p>

<br>

<p>

Features Used:

Area

Bedrooms

Bathrooms

Stories

Parking

Air Conditioning

Main Road

Guest Room

Basement

Hot Water Heating

Preferred Area

Furnishing Status

</p>

<br>

<p>

Technologies:

Python

Flask

Pandas

Scikit Learn

Matplotlib

HTML

CSS

</p>

</div>

</div>
<footer>

<p>

© 2026 Smart House Price Prediction | Developed by Rashmi Deepak Toragallamath

</p>

</footer>


</body>

</html>
